<!-- <div class="footer navbar-fixed-bottom">
  <div class="row">
    <div class="col-xs-12">
      <ul class="mendi-social-networks">
        <li class="facebook">
          <a href="" title="">
            <i class="fa fa-facebook"> </i>
            <p>JOIN US ON FACEBOOK</p>
            <span class="followers">268K Followers</span>
          </a>
        </li>
        <li class="twitter">
          <a href="" title="">
            <i class="fa fa-twitter"> </i>
            <p>FOLLOW US ON TWITTER</p>
            <span class="followers">268K Followers</span>
          </a>
        </li>
        <li class="googleplus">
          <a href="" title="">
            <i class="fa fa-google-plus"> </i>
            <p>ADD TO OUR CIRCLE</p>
            <span class="followers">268K Followers</span>
          </a>
        </li>
        <li class="linkedin">
          <a href="" title="">
            <i class="fa fa-linkedin"> </i>
            <p>CONNECT TO OUR NETWORK</p>
            <span class="followers">268K Followers</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
 -->