<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">

    <app-recipe-item 
    *ngFor="let singleRecipe of recipesArray"
     [singleRecipeItemPropBindingfromParnt2Child]="singleRecipe"
      (recipeSelectedFromRecipeItem_customEvent_FrmC2P)="onClickOfSingleRecipeItem(singleRecipe)">
    </app-recipe-item>
    <!-- 
      [singleRecipeItemPropBindingfromParnt2Child]="singleRecipe"  -> Passing inform from
       Parent Comp (RecipeListComponent) to child comp (RecipeItemComponent) 
      -->
  </div>
</div>
